.add-task-form {
	.form-input {
		margin: auto;

		label {
			display: block;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
				'Lucida Sans', Arial, sans-serif;
		}
	}

	input {
		margin: 1rem;
		width: 70%;
		border-radius: 0.5rem;
		outline: none;
		padding: 5px;
	}

	textarea {
		@extend input;
		height: 4rem;
		resize: none;
		padding: 0.5rem;
	}
}

.form-status {
	display: flex;
	justify-content: center;
	align-items: baseline;
	margin-bottom: 10px;

	label {
		font-size: 1rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
}

.form-priority {
	padding: 1rem;
	label {
		font-size: 1.5rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		padding: 1rem;
	}

	select {
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
}

.form-btn {
	button {
		margin-top: 10px;
		cursor: pointer;
		font-weight: 500;
		padding: 11px 28px;
		border-radius: 12px;
		font-size: 0.8rem;
		border: none;
		color: #fff;
		background: #ff3e4e;
		transition: all 0.25s ease;

		&:hover {
			box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
			transform: translateY(-5px);
			background: #ff3e4e;
		}
	}
}
